<div class="c-box">
  <form nz-form class="ant-advanced-search-form">
    <div nz-row class="search-form">

      <div class="form-item-search">
        <nz-form-item nzFlex>
          <nz-form-label>表格名称：</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="表格名称" [(ngModel)]="postmodel.draftName" name="draftName">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="form-item-search">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="rangeTime">创建时间：</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="rangeTime" name="rangeTime" nzFormat="yyyy/MM/dd">
            </nz-range-picker>

            <!-- <nz-date-picker nzShowTime [nzFormat]="'yyyy/MM/dd hh:mm:ss'" [(ngModel)]="postmodel.startTime"
              name="startTime"></nz-date-picker>~
            <nz-date-picker nzShowTime [nzFormat]="'yyyy/MM/dd hh:mm:ss'" [(ngModel)]="postmodel.endTime"
              name="endTime"></nz-date-picker> -->
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="form-item-search btn-control">
        <div class="search-btn-group">
          <button nz-button type="button" nzType="primary" (click)="search()"><i nz-icon type="search"></i>搜索</button>
          <button nz-button type="button" nzType="default" (click)="reset()"><i nz-icon type="redo"></i>重置</button>
        </div>
      </div>

    </div>
  </form>
</div>


<div>
  <button nz-button [nzType]="'primary'" (click)="edit(null)"><i nz-icon type="plus"></i>添加</button>
</div>

<!-- <st *ngIf="listData" [data]="listData.items" [columns]="columns" [page]="pageConfig" [total]="listData.totalNum"
          [pi]="listData.currentPage" [ps]="listData.pageSize" (change)="change($event)">
        </st> -->



<div class="search-result-list">


  <nz-table #ajaxTable nzBordered nzSize="small" nzShowSizeChanger [nzFrontPagination]="false"
    [nzShowQuickJumper]="true" [nzData]="listData.items" [nzTotal]="listData.totalNum"
    [(nzPageIndex)]="listData.currentPage" [(nzPageSize)]="listData.pageSize" (nzPageIndexChange)="goPage($event)"
    (nzPageSizeChange)="search()">

    <thead>
      <tr>
        <th>表名</th>
        <th>创建时间</th>
        <th>最近操作人账号</th>
        <th>访问量</th>
        <th class="action-column">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{data.attachmentName}}</td>
        <td>{{data.createTime}}</td>
        <td>{{data.lastUpdateUserCode}}</td>
        <td>{{data.visitCount}}</td>
        <td class="data-center">
          <a href="javascript:void(0);" nzTitle="删除" nzPlacement="top" nz-tooltip (click)="edit(data)">
            <i nz-icon type="edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


<!-- 添加 -->
<nz-modal [nzMaskClosable]='false' [(nzVisible)]="isEdit" nzTitle="表格下载" (nzOnCancel)="handleCancel()"
  (nzOnOk)="save()">
  <form nz-form class="edit-form" [formGroup]="formGroup">
    <div nz-row>
      <div nz-col [nzSpan]="24" class="gutter-box">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzFor="attachmentName" nzRequired>表格名称：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input nz-input placeholder="表格名称" formControlName="attachmentName" [(ngModel)]="editData.attachmentName">
            <nz-form-explain *ngIf="formGroup.get('attachmentName').dirty && formGroup.get('attachmentName').errors">
              请填写表格名称</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24" class="gutter-box">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzRequired>附件上传：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-upload [nzFileList]="fileList" nzMultiple [nzAction]="uploadUrl" [nzBeforeUpload]="beforeUpload"
              [nzRemove]="removeFile">
              <button style="width: 345px;" nz-button><i nz-icon type="upload"
                  nzTheme="outline"></i><span>上传</span></button>
            </nz-upload>
            <!-- <nz-form-explain *ngIf="formGroup.get('applyType').dirty && formGroup.get('applyType').errors">
              请上传附件</nz-form-explain> -->
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

  </form>
</nz-modal>