<div class="c-box">
  <form nz-form class="ant-advanced-search-form">
    <div nz-row class="search-form">

      <div class="form-item-search">
        <nz-form-item nzFlex>
          <nz-form-label>标题名称：</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="标题名称" [(ngModel)]="postmodel.draftName" name="draftName">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="form-item-search">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="rangeTime">发布时间：</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="rangeTime" name="rangeTime" nzFormat="yyyy/MM/dd">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="form-item-search btn-control">
        <div class="search-btn-group">
          <button nz-button type="button" nzType="primary" (click)="search()"><i nz-icon type="search"></i>搜索</button>
          <button nz-button type="button" nzType="default" (click)="reset()"><i nz-icon type="redo"></i>重置</button>
        </div>
      </div>

    </div>
  </form>
</div>


<div>
  <button nz-button [nzType]="'primary'" (click)="edit(null)"><i nz-icon type="plus"></i>添加</button>
</div>

<!-- <st *ngIf="listData" [data]="listData.items" [columns]="columns" [page]="pageConfig" [total]="listData.totalNum"
      [pi]="listData.currentPage" [ps]="listData.pageSize" (change)="change($event)">
    </st> -->



<div class="search-result-list">


  <nz-table #ajaxTable nzBordered nzSize="small" nzShowSizeChanger [nzFrontPagination]="false"
    [nzShowQuickJumper]="true" [nzData]="listData.items" [nzTotal]="listData.totalNum"
    [(nzPageIndex)]="listData.currentPage" [(nzPageSize)]="listData.pageSize" (nzPageIndexChange)="goPage($event)"
    (nzPageSizeChange)="search()">

    <thead>
      <tr>
        <th>法规类型</th>
        <th>标题名称</th>
        <th>发布时间</th>
        <th>生效时间</th>
        <th>最近修改时间</th>
        <th>最近操作人账号</th>
        <th>浏览量</th>
        <th class="action-column">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{data.draftName}}</td>
        <td>{{getDraftTypeName(data.applyType)}}</td>
        <td>{{data.createTime}}</td>
        <td>{{data.lastUpdateTime}}</td>
        <td>{{data.lastUpdateUserCode}}</td>
        <td>{{data.lastUpdateUserName}}</td>
        <td>{{data.content}}</td>
        <td class="data-center">
          <a href="javascript:void(0);" nzTitle="详情" nzPlacement="top" nz-tooltip (click)="edit(data)">
            <i nz-icon type="edit"></i>
          </a>
          <a href="javascript:void(0);" nzTitle="编辑" nzPlacement="top" nz-tooltip (click)="edit(data)">
            <i nz-icon type="edit"></i>
          </a>
          <a href="javascript:void(0);" nzTitle="删除" nzPlacement="top" nz-tooltip (click)="edit(data)">
            <i nz-icon type="edit"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


<!-- 添加 -->
<nz-modal [nzMaskClosable]='false' [(nzVisible)]="isEdit" nzTitle="草稿箱" (nzOnCancel)="handleCancel()" (nzOnOk)="save()">
  <form nz-form class="edit-form" [formGroup]="formGroup">
    <div nz-row>

      <div nz-col [nzSpan]="24" class="gutter-box" style="display:none;">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzFor="draftId">ID：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input nz-input placeholder="ID" formControlName="draftId" [(ngModel)]="editData.draftId">
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24" class="gutter-box">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzFor="draftName" nzRequired>名称：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input nz-input placeholder="名称" formControlName="draftName" [(ngModel)]="editData.draftName">
            <nz-form-explain *ngIf="formGroup.get('draftName').dirty && formGroup.get('draftName').errors">
              请填写名称</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24" class="gutter-box">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzFor="applyType" nzRequired>申报类型：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <nz-select class="search_menu_input" nzShowSearch nzAllowClear style="width: 100%;"
              [(ngModel)]="editData.applyType" name="applyType" formControlName="applyType" nzPlaceHolder="请选择申报类型">
              <nz-option nzLabel="设计审查" [nzValue]="1"></nz-option>
              <nz-option nzLabel="消防验收" [nzValue]="2"></nz-option>
              <nz-option nzLabel="竣工备案" [nzValue]="3"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formGroup.get('applyType').dirty && formGroup.get('applyType').errors">
              请选择应用类型</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- <div nz-col [nzSpan]="24" class="gutter-box">
          <nz-form-item nzFlex>
            <nz-form-label [nzSm]="6" nzFor="createTime" nzRequired>创建时间：</nz-form-label>
            <nz-form-control [nzSm]="18">
              <nz-date-picker [(ngModel)]="searchData.createTime" name="searchData.createTime" style="width: 200px">
              </nz-date-picker>
              <nz-form-explain *ngIf="formGroup.get('createTime').dirty && formGroup.get('createTime').errors">
                请填写创建时间
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div> -->

      <div nz-col [nzSpan]="24" class="gutter-box">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="6" nzFor="content" nzRequired>草稿箱内容：</nz-form-label>
          <nz-form-control [nzSm]="18">
            <input nz-input placeholder="草稿箱内容" formControlName="content" [(ngModel)]="editData.content">
            <nz-form-explain *ngIf="formGroup.get('content').dirty && formGroup.get('content').errors">
              请填写草稿箱内容</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>

  </form>
</nz-modal>