<!-- <div class="alain-default__header-logo">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/logo-full.svg" alt="{{ settings.app.name }}"
      style="max-height:40px;" />
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{ settings.app.name }}"
      style="max-height:30px;" />
  </a>
</div> -->
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <li>
      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <i nz-icon nzType="menu-{{ settings.layout.collapsed ? 'unfold' : 'fold' }}"></i>
      </div>
    </li>
    <li>
      <div style="display: flex;align-items: center;text-align: center;justify-content: flex-start;"
        class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">
        <img style="height:30px;" src="../../../assets/images/logo.png" />
        <span style='color: white; text-align: left;font-size: 24px;margin-left: 5px;'>广西建设工程消防设计审查验收备案管理平台</span>
      </div>
    </li>
  </ul>
  <!-- <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search> -->
  <!-- <h1 style='color: white; text-align: left;'>统一认证中心</h1> -->
  <ul class="alain-default__nav">
    <li class="hidden-mobile" (click)="openUaa()">
      <div class="alain-default__nav-item  align-items-center px-sm" nzTitle="统一认证中心" nzPlacement="bottom" nz-tooltip>
        <div style="text-align: center;display: flex;align-items: center;justify-content: center;font-size: 20px;">
          <i nz-icon nzType="appstore" nzTheme="outline"></i>
        </div>
      </div>
    </li>
    <li class="hidden-mobile" (click)="openHall()">
      <div class="alain-default__nav-item  align-items-center px-sm" nzTitle="办事大厅" nzPlacement="bottom" nz-tooltip>
        <div style="text-align: center;display: flex;align-items: center;justify-content: center;font-size: 20px;">
          <i nz-icon nzType="bank" nzTheme="outline"></i>
        </div>
      </div>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>